@media only screen and (max-width: 850px)  {

    .contents{
        width: 100%;
        height:100%;
        border-radius: 0px;
        padding: 0;
    }

    .result{
        font-size: 1.5em;
    }

    .box-btn, .result{
        text-align: center;
        width: 70%;
    }
}
